<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2016 Nathan Clark, Krzysztof Czelusniak, Michael Holwey, Dakota Leonard
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.bradley.cattrucktracker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/launch_icon"
        android:label="CAT Truck Tracker">

        <activity android:name="edu.bradley.cattrucktracker.TruckTrackerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
